* {
    box-sizing: border-box;
    user-select: none;
  }
  a {
    color: #3498db;
    text-decoration: none;
  }
  body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  section img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
    
  }
  pre{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-block: 15px;
  }
  section {
    padding: 5px 20px;
    background-color: #7f65f325;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
  }
  h1,
  h2,
  h3 {
    color: #2c3e50;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  code {
    background-color: #ecf0f1;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
  }
  
  button {
    width: 60px;
    height: 20px;
    /* text-transform: uppercase; */
    margin-right: 10px;
  }

  #list {
    z-index: 10000;
    background: #fcfcfcbb;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    padding: 30px;
    transform: translateX(-100%);
    transition: transform 1s ease;
    box-shadow: 0px 0px 45px rgb(0, 0, 0);
    cursor: pointer;
  }
  #list.opened {
    transform: translate(0);
  }
  #list::after {
    content: "❱";
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    font-size: 30px;
    transform: translateY(-50%) scaleY(2);
    text-shadow: 1px 0px 3px #000000;
    transition: transform 0.5s ease, color 1.3s ease;
  }
  #list.opened::after {
    content: "❱";

    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 30px;
    transform: translate(-200%, -50%) rotate(180deg) scaleY(2);
  }
  #list > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #list li {
    margin-bottom: 10px;
  }
  #list a {
    color: rgb(0, 0, 0);
    transition: color .4s ease;
    text-shadow: 0px 0px 2px #1414146e;
  }
  #list a:hover {
    color: rgb(129, 165, 211);
  }
  @media screen and (max-width: 850px) {
    main {
      width: 90%;
    }
  }
header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
header::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #fafafa, transparent);
    z-index: 10;
}
header img{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
   object-fit: cover;
}

header img#mountain_left{
    left: 0;
    object-fit: fill;
}
header img#mountain_right{
    right: 0;
    object-fit: fill;
}

header img#man{
    transform-origin: bottom;
}
#text{
    position: relative;
    color: white;
    line-height: 90%;
    font-size: 6vw;
    text-align: center;
    max-width: 900px;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #000000be;
}
#top{
  color: black;
  position: fixed;
  text-transform: uppercase;
bottom: 20px;
right: 20px;
}